/* provide global settings here */
body {
	font-family: "Lato", sans-serif;
	color: #990000;
	font-weight: 300;
	padding-top: 70px;
}

/* Text styles */
.text-muted {
	color: #990000;
	opacity: 0.5;
}

.text-thin {
	font-weight: 100;
}

.text-thick {
	font-weight: 300;
}

.title-super {
	font-size: 60px;
	margin-top: 35px;
}

.title-logo {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 10%;
}

/* provide settings for horizontal rule */
.line-style {
	height: 3px;
   	border: 0;
   	text-align: center;
   	background-color: #990000;
}

/* remove margin from the top of the main page image */
.main-image-heading {
	margin-top: 0;
}

/* provide style for main image */
.main_image {
	width: 70%;
	margin-top: 10px;
}

/* set width of section images */
.section-image {
	width: 100%;
}

/* Override default Bootstrap CSS for Brand Icon */
.navbar-brand {
	padding-bottom: 5px;
	padding-top: 6px;
}

/* Add space between "Main" and "Footer" */
footer {
	padding-top: 10px;
}